.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background: linear-gradient(-45deg, #000046, #1cb5e0, #000046, #1cb5e0);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;

    .particle {
        position: absolute;
        bottom: -50px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        animation: floatUp linear infinite;
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes floatUp {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}